.places {
  max-width: var(--block-size-medium);
  display: flex;
  flex-direction: column;
  gap: 80px 0;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 78px 0;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: var(--block-size-big);
    gap: 51px 0;
  }
}
