:root {
  --root-background-color: #2A2C2F;
  --text-color: #fff;
  --url-heading-color: #AAA;
  --cover-overlay-color: #2A2C2F;

  --block-size-medium: 77%;
  --block-size-big: 92.5%;
}

.root {
  font-family: 'Inter';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: var(--root-background-color);
  color: var(--text-color);

  max-width: 1280px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  :root {
    --block-size-medium: 91%;
    --block-size-big: 100%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --block-size-medium: 94%;
    --block-size-big: 100%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --block-size-medium: 90%;
    --block-size-big: 100%;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --block-size-medium: 90%;
    --block-size-big: 100%;
  }
}
