.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px 19px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 49px 15px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 46px 15px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: block;
  }
}
