.place__website {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .place__website {
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 360px) {
  .place__website {
    max-width: 288px;
    margin: 0 auto;
  }
}
